<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net48" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net48" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net48" />
  <package id="XAMLMarkupExtensions" version="1.2.2" targetFramework="net48" />
</packages>